* {
    font-family: "微软雅黑";
}

body {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.cstm-navbar-form {
    margin: 0;
    padding: 0;
}

.cstm-navbar-form div {
    margin: 10px 10px;
}

.cstm-navbar-form .btn {
    float: right;
    margin: 10px;
}

.cstm-toolbar-landscape-pane {
    position: absolute;
    bottom: 50px;
    width: 276px;
    height: 40px;
    margin-left: -138px;
    left: 50%;
    z-index: 2;
    opacity: 0.3;
}

.cstm-toolbar-landscape-pane:hover {
    opacity: 0.8;
}

.cstm-toolbar-portrait-pane {
    position: absolute;
    bottom: 35px;
    z-index: 2;
}

.cstm-dropdown-menu-landscape {
    min-width: 50px;
    right: 0px;
    margin-left: 140px;
    height: 200px;
    overflow: auto;
}

.cstm-dropdown-menu-portrait {
    /*设置下拉框向右偏移*/
    top: -3px;
    left: 70px;
    height: 200px;
    overflow: auto;
}

.cstm-big-bang {
    height: 140px;
    background: linear-gradient(45deg, #020031 0, #6d3353 100%);
}

.cstm-big-bang-landscape {
    display: none !important;
}

.cstm-big-bang:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 140px;
    left: 0;
    background: url(../images/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .5;
}

.cstm-content-pane {
    text-align: center;
}

.title-pane {
    position: absolute;
    top: 70px;
    left: 20px;
    color: #f5f5f5;
    font-size: 20px;
    font-style: italic;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

#h5frm {
    width: 100%;
}

.cstm-footer-pane {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

#pageIndexMenu li {
    text-align: center;
}

#toolbarGroup button span {
}

#prevPageX {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    left: 10px;
    opacity: 0.3;
}
#prevPageX:hover{
    opacity: 0.8;
}
#nextPageX {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    right: 10px;
    opacity: 0.3;

}
#nextPageX:hover{
    opacity: 0.8;
}
.cstm-btn-action{
    padding: 5px;
}
.cstm-left-action{
    position: absolute;
    left: 0;
    width: 50px;
 }
.cstm-right-action{
    position: absolute;
    right: 0;
    width: 50px;

}